.top{
    font-family: Tahoma;
    font-size:250%;

}

header{
    text-align: center;
}

body{
    background-image: url(./background.png);
    background-size: auto;
    background-repeat: no-repeat;
    padding: 1%;
}

.box{
    background-color: #F7EDE2BC;
    padding:0.75%;
    margin-left:10%;
    margin-right:10%;
    border-radius: 15px;

}

h2{
    font-family: Courier;
    font-size: 130%;
    margin-bottom:2%;
}

p{
    font-family: Helvetica;
    line-height:140%;

}

img{
    display: block;
    width: 150px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 6%;
    margin-top: 2%;
    border-radius: 50%;
    border: solid rgba(0,0,0,25%);
}

hr{
    margin-left: 8%;
    margin-right:8%;
    margin-bottom:3.5%;
}
.desc{
    margin-left:10%;
    margin-right:10%;
    font-size: 120%;

}

.sign{
    margin-left: 80%;
}

footer{
    text-align: center;
    font-size: 15px;
    
}

.bottom{
    margin-bottom:20px;
}

a{
    color: rgb(255,0,127);
    text-decoration: none;
}

a:hover{
    color:rgb(255,127,127);
}