@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.top{
    font-family: Helvetica;
    font-size:250%;
    text-shadow: -1px -1px 0 white;

}

header{
    text-align: center;
}

body{
    background-image: url(./elements/background.png);
    background-size: auto;
    background-repeat: no-repeat;
    padding: 1%;
}

.box{
    background-color: #F7EDE2BC;
    padding:0.75%;
    margin-left:3%;
    margin-right:3%;
    border-radius: 3px;
    min-width: 87.5%;

}

h2{
    font-family: Courier;
    font-size: 130%;
    margin-bottom:2%;
}

p{
    font-family: Montserrat, sans-serif;
    line-height:140%;
}

img{
    display: block;
    width: 130px;
    margin: 0 auto;
    margin-bottom: 6%;
    margin-top: 2%;
    border-radius: 50%;
    border: solid rgba(0,0,0,25%);
}

hr{
    margin-left: 8%;
    margin-right:8%;
    margin-bottom:3.5%;
}
.desc{
    margin-left:10%;
    margin-right:10%;
    font-size: 120%;

}

.sign{
    margin-top:5%;
    text-align: right;
}

footer{
    text-align: center;
    font-size: 15px;
    
}

.bottom{
    margin-bottom:20px;
}

a{
    color: rgb(255,0,127);
    text-decoration: none;
}

a:hover{
    color:rgba(255,0,127,0.6);
}