/* Imported Fonts & Styles */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Open+Sans:wght@500;600&family=Roboto:wght@400;500&display=swap');

/*Global Attributes */

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

*::-webkit-scrollbar {
    display: none;
}

/* Navigation Bar Elements */

nav{
    background-color: #121212;
    height: 75px;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1;
    border-bottom: 5px solid white;
}

nav .navlogo{
    display:inline-block;
    margin-top: 10px;
    margin-left:15px;
    cursor: pointer;
}

.navlogo .navimg{
    width: 95%;
}
nav .navlogo:hover{
    filter: drop-shadow(0 0 5px #FFFFFF);
    transition: 0.2s;
    
}

nav ul{
    float:right;
    margin-right: 20px;
}

nav ul li{
    list-style: none;
    display:inline-block;
    line-height: 72.5px;
    margin: 0 18px;
}

nav ul li a{
    text-decoration: none;
    color: #FFFFFFDD;
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 600;
}

#contact{
    color: #38b6ffDD;
    margin-right: -10px;
}

#contact:hover{
    color: #38b6ff;
    transition: 0.2s;
}

#blog:hover{
    color: #FF00FF;
}

nav ul li a:hover{
    color: white;
    transition: 0.2s;
}

.checkbtn{
    font-size: 30px;
    color:white;
    float: right;
    line-height:65px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/* Welcome Screen (Home) Elements */

#home{
    background-image: url("./elements/background.svg");
    background-color: #FF00FF99;
    background-position: 0% 45%;
    background-size: cover;
    margin: 0 auto;
    margin-top: 85px;
    width: 96.5vw;
    padding: 0 15px;
    height: 86.5vh;
}

.introtext{
    height: 40vh;
    padding-top: 17.5vh;
    font-family: -apple-system, BlinkMacSystemFont, Montserrat, Tahoma;
    width: 100%;
    text-align: center;
}
.introtext h1{
    display: inline-block;
    margin: -1px 0.285rem;
    padding-bottom:2.5px;
    color: white;
    font-size: 70px;
    text-shadow: -1px -1px 0 rgb(0,0,0,75%), 1px -1px 0 rgb(0,0,0,75%), -1px 1px 0 rgb(0,0,0,75%), 1px 1px 0 rgb(0,0,0,75%);
}

.introtext h1:hover .uxanimate{
    color: rgb(255,175,255);
    transition: all 1s;
}

.introtext h2{
    color:rgb(255,245,255);
    font-size: 30px;
    font-weight: 400;
    text-shadow: -1px 1px 3px black;
}

.hlinks{
    float:right;
    display:flex;
    flex-direction: column;
    margin-top: 12.5vh;
}

.hlinks a{
    color: rgba(0,0,0,80%);
    margin: 2px 0;
}

.hlinks a:hover{
    color: black;
    transition: 0.5s;
}

.hlinks a i{
    font-size: 40px;
    filter: drop-shadow(2px 2px 2px rgba(255,255,255,60%));
}

/* About Section (About) */

#about{
    background-color: #000112;
    width: 100%;
    color: white;
    margin-top: 15px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.aboutinfo{
    width: 70vw;
    height: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.aboutinfo h2{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, Montserrat, Tahoma;
    font-size: 55px;
    text-align: center;
    margin-top: 25px;
}

.aboutinfo hr{
    margin: 15px 25px;
    border: none;
}

.aboutinfo p{
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 500;
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin: 7.5px 0;
}

.workeducation{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}

.collegeinfo{
    margin-top: -15px;
}
.workeducation .workinfo{
    margin-top: 22.5px;
    margin-left: 30px;
}

.workinfo h3{
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 1px auto;
    text-decoration: none;
}

.workinfo h3 a{
    text-decoration: none;
    color: #FFFFFFBB;
}

.workinfo h3 a:hover{
    color: #FFFFFFEE;
    transition: 0.2s;
}

.workinfo h3:first-of-type{
    font-weight: 600;
}

.workeducation img{
    width: 100px;
}

.ecell{
    filter: invert(1);
}

.aboutbutton{
    background-color: #FFFFFF33;
    width: 125px;
    border-radius: 20px;
    height: 40px;
    margin: 30px auto;
    margin-bottom: 50px;
}

.aboutbutton a{
    color: white;
    text-decoration: none;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 20px;
    line-height: 38px;
}

.aboutpfp{
    width: 30vw;
    height: 100%;
}

.aboutpfp img{
    display:block;
    border-radius: 50%;
    border: 5px solid black;
    box-shadow: 0px 0px 20px ghostwhite;
    margin-top: 230px;
    margin-left: 30%;
    width: 250px;
}

/* Footer Content */

footer{
    background-color: #121212;
    padding:20px;
    border-top: 5px solid white;
    margin-top:10px;
    color:#DDDDDD;
    font-family: Helvetica;
    font-size: 13.5px;
    text-align: center;
}

footer hr{
    margin: 0 10px;
    margin-top: 17.5px;
}

/* MEDIA QUERIES FOR RESPONSIVENESS */
/* This is the media query for all elements on the main website page. */

/* Media Query for Devices With Maximum Width: 952px */

@media (max-width: 952px){

    /* Navigation Bar Elements */

    nav{
        height:70px;
    }
    nav ul li{
        line-height: 67.5px;
    }
    nav .navlogo{
        margin-top:7px;
        margin-left: 10px;
    }
    nav ul li a{
        font-size: 19px;
    }

    /* Welcome Screen (Home) Elements */

    #home{
        margin-top:75px;
        height: 83.5vh;
    }
    .introtext h1{
        font-size: 55px;
    }
    .introtext h2{
        font-size: 25px;
        text-shadow: -1px 1px 2px black;
    }
    .hlinks{
        margin-top: 8.5vh;
    }
    .hlinks a{
        margin: 1px 0;
    }
    .hlinks a i{
        font-size: 40px;
    }

    /* About Section (About) */

    .aboutinfo h2{
        font-size: 42.5px;
    }
    .aboutinfo p{
        font-size: 19px;
        margin: 7px 0;
    }
    .workeducation{
        margin-left: 70px;
    }
    .collegeinfo{
        margin-top: -20px;
    }
    .workeducation .workinfo{
        margin-top: 20.5px;
        margin-left: 30px;
    }
    .workinfo h3{
        font-size: 19px;
    }
    .workeducation img{
        width: 85px;
    }
    .aboutbutton a{
        font-size: 19px;
        line-height: 39px;
    }
    .aboutpfp img{
        display:block;
        border-radius: 50%;
        border: 5px solid black;
        box-shadow: 0px 0px 20px ghostwhite;
        margin-top: 275px;
        margin-left: 30%;
        width: 200px;
    }

    /* Footer Content */

    footer{
        padding: 15px;
        font-size: 12px;
    }
    footer hr{
        margin-top:15px;
    }
}

/* Media Query for Devices With Maximum Width: 800px */

@media (max-width: 800px){

    /* Navigation Bar Elements */

    .checkbtn{
        display:block;
    }
    nav{
        height: 65px;
    }
    nav .navlogo{
        margin-top:7px;
    }
    .navlogo .navimg{
        width: 85%;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height:55vh;
        min-height: 400px;
        background: #232323;
        top: 65px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        text-transform: uppercase;
        display:block;
        margin: 40px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 18px;
    }
    #check:checked ~ ul{
        left:0;
    }

    /* Welcome Screen (Home) Elements */

    #home{
        margin-top: 66px;
        width: 96.75vw;
        height: 80vh;
    }
    .introtext h1{
        font-size: 40px;
        margin: -1px .2rem;
        padding-bottom:10px;
        margin-top: -10px;
    }
    .introtext h2{
        font-size: 20px;
    }
    .hlinks{
        float: none;
        display:flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 29.5vh;
    }
    .hlinks a{
        margin: 0 10px;
    }
    .hlinks a i{
        font-size: 40px;
        color: rgba(255,255,255,92.5%);
        filter: drop-shadow(3px 3px 2px black);
    }

    /* About Section (About) */

    .aboutinfo{
        width:100vw;
        height: 75%;
    }
    .aboutpfp{
        width:100vw;
        height: 25%;
    }
    .aboutinfo h2{
        font-size: 35px;
    }
    .aboutinfo p{
        font-size: 17.5px;
        margin: 7px 0;
    }
    .workeducation{
        margin-left: 10px;
        margin-top: 20px;
    }
    .collegeinfo{
        margin-top: 10px;
    }
    .workeducation .workinfo{
        margin-top: 20.5px;
        margin-left: 30px;
    }
    .workinfo h3{
        font-size: 17.5px;
    }
    .workeducation img{
        width: 80px;
    }
    .aboutbutton a{
        font-size: 18px;
        line-height: 39.5px;
    }
    .aboutpfp img{
        display:block;
        border-radius: 50%;
        border: 5px solid black;
        box-shadow: 0px 0px 20px ghostwhite;
        margin: auto auto;
        width: 150px;
        margin-bottom: 40px;
    }

    /* Footer Content */

    footer{
        padding:10px;
        font-size:11px;
    }
    footer hr{
        margin-top:10px;
    }
}